.LeftContent{
    align-items: flex-start;
}
.RightContent{
    align-content: right;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .homepage {
    background-color: #0062cc;
    background-size: cover;
    align-content: stretch;
    align-items: stretch;
    border-image-width: 50%;
  }