.loginpage {
    background-color: whitesmoke;
}
header {
    width: 100%;
}
.headerImage {
    width: 100%;
}
.loginLink {
    color: blue;
}
form {
  text-align: center;
  text-indent: 0%;
  border-radius: 8.5em;
}
header {
  width: 100%;
  align-items: center;
}
.headerImage {
  width: 100%;
}
h1 {
  color: rgb(14, 228, 210);
}
a {
  text-decoration: none;
  text-indent: 10%;
  align-items: left;
}

.input {
  border-radius: 40px;
  box-sizing: border-box;
  width: 250px;
  height: 35px;
}
.btn {
  border-radius: 40px;
  box-sizing: border-box;
  width: 200px;
  height: 35px;
}
.btn:hover {
  color: white;
  border-color: blue;
  box-shadow: blue;
  background-color: blue;
}
.content {
  border: none;
  margin: auto;
  width: 400px;
  padding-bottom: 30px;
}
